body {
    background-image: url(fondo.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 500px; 
    color: #ffffff; 
    padding: 20px;
    font-family: 'Noto Sans Buhid', sans-serif;
    background-color: #1c021d;
}
.botones {
    justify-content: center;
    padding: 10px 10px;
    background-color: #600a63;
    border-radius: 10px;
    color: #fff;
    border-color: #fff;
}
.boton_estudio{
    justify-content: center;
    padding: 10px 10px;
    background-color: #600a63;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    border-color: #fff;
}
.foto {
    height: 15em;
    width: 15em;
    border: solid 2px; color: rgb(0, 0, 0);
    border-radius:10px;
}

header {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.info, .experience {
    margin: 2rem;
    padding: 1.5rem;
    background-color: #600a63;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.info h2, .experience h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

strong {
    font-weight: bold;
}

h1, h2, h3 {
    margin: 0;
}

@media all and (max-width: 700px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #242424;
        color: #242424;
    }
    .botones {
        justify-content: center;
        padding: 10px 10px;
        background-color: #fff;
        border-radius: 50px;
    }
    .boton_estudio{
        justify-content: center;
        padding: 10px 10px;
        background-color: #fff;
        border-radius: 50px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .foto {
        border: solid 2px; color: rgb(0, 0, 0);
        border-radius:30px;
    }
    
    header {
        text-align: center;
        background-color: #242424;
        color: #fff;
        padding: 2rem;
    }
    
    .info, .experience {
        margin: 2rem;
        padding: 1.5rem;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px
    }
    
    .info h2, .experience h2 {
        border-bottom: 2px solid #333;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    li {
        margin-bottom: 0.5rem;
    }
    
    strong {
        font-weight: bold;
    }
    
    h1, h2, h3 {
        margin: 0;

}
}